<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/style.css">
    <title>Butik | About us</title>
</head>
<body>
    <header>
        <h1>Butik</h1>
        <p class="blackColor">-<span>BLACK COLOR</span> Entertainment-</p>
    </header>
    <section class="attribution_container">
        <div class="logo_container">
           <a href="#"><img class="vrai" src="/publics/vrai.png" alt="vrai"></a>
            <div class="designation_container">
                <h4>Attitude</h4>
                <p>Our voil is to always delever more than expeted,
                    we don't try to be original,we just try to be good and 
                    create a best relationship with you.
                </p>
            </div>
        </div>
        <div class="logo_container">
            <a href="#"><img class="vrai" src="/publics/vrai.png" alt="vrai"></a>
            <div class="designation_container">
                <h4>We deliver</h4>
                <p>We dont't deliver product,we deliver experience ,our
                    delivery service is $0.00.<br>Available is Congo DRC,Rwanda,Burundi,
                    Ouganda and other East African contries.We wich you to make our 
                    company to be a success in the world and deliver evrywhere.
                </p>
            </div>
        </div>
        <div class="logo_container">
            <a href="#"><img class="vrai our_Exp"  src="/publics/vrai.png" alt="vrai"></a>
            <div class="designation_container">
                <h4>our Experience</h4>
                <p> A coustomer is the most important visitor on our premises.<br>
                    He/She is not dependent on us .We are dependent on him/her.<br>
                    He/she not an interruption in our work .<br>
                    He/she is the purpose of it.<br>
                    He/she is not an outsider in our business.<br>
                    He/She is a part of it.<br>
                    We are not doing him favor by serving him/her,he/she doing a favor by serving
                    giving us an opportunity to do so.
                </p>
            </div>
        </div>
        <div class="logo_container">
            <a href="#"><img class="vrai" src="/publics/vrai.png" alt="vrai"></a>
            <div class="designation_container">
                <h4>Our Team</h4>
                <p>BUTIK has you as the best teamate,we are node a team
                    because we work together.<br>We are a team because we respect
                    ,trust and care for each other.
                </p>
            </div>
        </div>
        <div class="logo_container">
           <a href="#"><img class="vrai" src="/publics/vrai.png" alt="vrai"></a> 
           <div class="designation_container">
            <h4>We Care</h4>
            <p>We see ourb customers as invalided guest to a party,and we are the host.<br>
                It's our job to make the customer experience a little bit better.
                <br><br><em>Jeff Bezos</em>
            </p>
        </div>
        </div>
        <div class="logo_container">
           <a href="#"><img class="vrai" src="/publics/vrai.png" alt="vrai"></a> 
           <div class="designation_container">
        <h4>Competing</h4>
            <p>Competition is always a good thing. It forces us to do 
                our best.<br>A monopoly render people complacert and satisfied
                with medicrity .<br><br><em>Thanks to be the best customers than 
                    where we fund that streght to be compited by other
                </em>
            </p>
        </div>
    </section>
    <section class="diapoImg">
       <img .class="diapo_img" name="image" alt="diaporama">
    </section>
    <footer class="footer">
        <div class="copyright_container">
            <p>&copy;Jonathan Zihindula 2021</p>
        </div>
        <div class="contact_container">
            <h5>Contact us:</h5>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a id="faceboock">Facebook</a></li>
                <li><a href="mailto:blackcolorent@gmail.com">Email</a></li>
                <li><a href="tel:+2507810980810">WhatsApp</a></li>
                <li><a id="aboutUs">About us</a></li>
            </ul>
        </div>
    </footer>

    <script src="/statics/about.js"></script>
</body>
</html>