<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butik|Jordan 1</title>
</head>
<body>
    <header>
        <h1>Butik</h1>
        <p class="blackColor">-<span>BLACK COLOR</span> Entertainment-</p>
    </header>
    <section class="markContainer">
        <h4>Our Products</h4>
        <hr>
        <p id="airForce">Air Force1</p>
        <p id="airJordan1">Air Jordan1</p>
        <p id="jordan6">Jordan 6</p>
        <p id="jordan4">Jordan 4</p>
        <p id="timberland">Timberland</p>
        <div class="customerCommand">
            <button type="submit" id="customerOpen">Special Command here</button>
        </div>
    </section>
    <section class="products">
         <section class="shoesContainer">
         </section>
    </section>
        <section class="shoesContainer">
            <% if (shoes == undefined) { %>
                <%- `<p class= "Paraundefined">The Shoes witch your are looking for is not available now !` %> 
                <% } %>
                
                    <% shoes.reverse().forEach(i => { %>
                    <%- `<div class="image"><img src="/public/${i.image}" id="commandShoes" alt="image"></div><br><div class="detailsImage"><p>model: ${i.model}<br>price: $${i.price}<br>size: ${i.size}</p></div>` %> 
                <% }) %>
         </section>
    <hr>
    <footer class="footer">
        <div class="copyright_container">
            <p>&copy;Jonathan Zihindula 2021</p>
        </div>
        <div class="contact_container">
            <h5>Contact us:</h5>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a id="faceboock">Facebook</a></li>
                <li><a href="mailto:blackcolorent@gmail.com">Email</a></li>
                <li><a href="tel:+2507810980810">WhatsApp</a></li>
                <li><a id="aboutUs">About us</a></li>
            </ul>
        </div>
    </footer>

        <script src="/statics/product.js"></script>

</body>
</html>