body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
.butikForm {
  width: 50%;
  background: gray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 20em;
  padding-bottom: 20em;
  width: 30em;
  /* position: fixed; */
}
#size,
#Model,
#price {
  width: 30em;
}
button {
  border: none;
  border-radius: 2px;
}
#submit {
  margin-top: 20px;
  height: 3em;
  background: rgb(242, 242, 242);
  border-radius: 5px;
}
#submit:hover {
  background: rgb(199, 199, 199);
}
.commandNumber {
  padding-top: 50px;
}
b {
  padding-left: 10%;
}
.reportCommand {
  background: rgb(250, 246, 246);
  width: 50%;
}
.userDetails {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}
.user {
  width: 300px;
}

/* butik ejs */
#SpecialBtn{
  margin-top: 10px;
  border: none;
}
/* adminSpecial */
.specialCommand{
  margin-left: 20%;
  margin-right: 20%;
  background: rgb(214, 212, 212);
}
#commandShoes{
  width: 500px;
}

@media(max-width: 500px){
  body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  .butikForm {
    background: gray;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    /* width: 25em; */
  }
  #size,
  #Model {
    width: 20em;
  }

  .uploadingModel,
  .uploadingSize{
    display: flex;
    flex-direction: column;
  }
  #price {
    margin-top: 20px;
    width: 17.5em;
  }
.uploadingFile{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
  .userDetails {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }
  #SpecialBtn{
    margin-top: 20px;
    border: none;
    width: 5em;
    border-radius: 5px;
  }
  .reportCommand {
    background: rgb(250, 246, 246);
    width: 100%;
  }
  .butikForm {
    width: 100%;
    background: gray;
  }
}

